﻿@model XmlToJson.Controllers.ConvertedDataModel

@{
    ViewBag.Title = "Convert";
    Layout = "~/Views/_Layout.cshtml";
}

<h2>Result</h2>
<h3>@Html.ActionLink("Permanent link","Permanent", new {url = Model.Url})</h3>
<div id="jsonContent">
    <pre>
<code>
@Model.Json
</code>
</pre>
</div>
<script>
    $(document).ready(function() {
        var jsonString = '@Html.Raw(Model.Json)';
        jsonString = JSON.stringify(jsonString, null, 4);
        $("#jsonContent").innerText = jsonString;
    });
</script>