﻿@model XmlToJson.Controllers.HomeIndex

@{
    ViewBag.Title = "Rss To Json proxy";
    Layout = "../_Layout.cshtml";
}


    <div class="container">
      <div class="header">
@*        <ul class="nav nav-pills pull-right">
          <li class="active"><a href="#">Home</a></li>
          <li><a href="#">About</a></li>
          <li><a href="#">Contact</a></li>
          <li><a href="#">Permalink</a></li>
        </ul>*@
        <h3 class="text-muted">XML To JSON</h3>
      </div>

      <div class="jumbotron">
        <h1>XML TO JSON</h1>
          <p class="lead">This site is made to provide a converter from XML to JSON and provide permanent links for the converted XML.</p>
          @using (Html.BeginForm("Convert", "Home", FormMethod.Get))
          {
              <p>@Html.TextBoxFor(m => m.Url,new {placeholder="Url"})</p>
              <p><input class="btn btn-lg btn-success" href="#" type="submit" value="Convert"/></p>
          }
      </div>

      <div class="row marketing">
        <div class="col-lg-6">
          <h4>Why?</h4>
          <p>Convert XML to JSON and get a link to get feed updates</p>

          <h4>What</h4>
          <p>Convert RSS feed, XML configuration data or any other XML feed to JSON</p>

        </div>

        <div class="col-lg-6">
          <h4>How?</h4>
          <p>The site is made with ASP.NET MVC 4, JSON.NET and Twitter Bootstrap</p>

          <h4>Github</h4>
          <p>Source will be available on Github</p>
        </div>
      </div>

    </div> 